.carousel-item{
    height: 500px;
}
.crousel_img{
    height: 100%;
    object-fit: contain;
    background-position:center;
    background: #F3EEEA;
}

.crousel_content{
    color: white;
    background-color: #00000033;
}